body{
    font-family:'Montserrat', sans-serif ;
}
h1 {  
    font-family: 'Montserrat-Black', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
}
#title{
    background-color: #ff4c68;
    color: white;
}
.container-fluid{
    padding: 3% 15%;
}
/* Navigation bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 2rem;
    font-weight: 500;
}
.nav-link:hover{
    transform: rotate(-5deg);
    text-decoration: underline;
}

/* Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-img{
    width:60%;
    transform:rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}
.feature-col{
    text-align: center;
}
.tick{
    color:#ef8172
}
.tick:hover{
    color: #ff4c67;
}
.circle{
    color:#ef8172
}
.circle:hover{
    color: #ff4c67;
}
.heart{
    color:#ef8172
}
.heart:hover{
    color: #ff4c67;
}
.feature-container{
    margin: 100px auto;
}
.fh3{
    font-family:'Montserrat', sans-serif ;
    font-size: 1.5rem;
    font-weight: 600;

}
.fdesc{
    color: #8f8f8f;
}


/* Testimonials */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family:'Montserrat', sans-serif ;
    font-weight: 900;
    font-size: 3rem;
    line-height:1.5 ;
}
#testimonials{
    background-color: #ef8172;
}

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 40%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 10%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing{
    padding: 15%;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1050px) {
    .title-img{
        position: static;
        transform: rotate(0deg);
    }
    #title{
        text-align: center;
    }
    
}

/* Cta */

#cta{
    text-align: center;
    background-color: #ff4c68;
    padding:100px 0;
    color: #fff;
    font-family: 'Montserrat-Black';
    font-weight: 900;
}
.cta-head{
    padding: 0 15%;
}
#footer{
    padding-top: 50px;
    text-align: center;
}
.footer-icon{
    padding: 0 10px 10px;
}
.feature-icon{
    padding-bottom: 10px;
}